/* primary-color #414F90 */ 
/* secondary-color #2f4725 */
/* accent1-color #ECE4B7 */
/* accent2-color #392B1B */
/* https://coolors.co/414f90-2f4725-ece4b7-392b1b */
/* Font names are "Titillium Web", and "Open Sans" */
body{
    margin:0 auto;
    width: 80%;
    max-width: 2200px; 
    background-color:#392B1B; 
}

:root {
    color: #414f90;
    color: #2f4725;
    color: #ECE4B7;
    color: #392B1B;
}

.section1{
    padding-top: 400px;
    display: grid;
    place-items: center;
    overflow:auto;
}
.section1 img{
    float: left;
    width: 50%;
    height: auto;
    
    margin: 20px 20px 20px 20px;
}
.section2 img{
    width: 100%;
    height: auto;
}
.grid-contaner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}

.grid-item-1{
    max-width: 100%;
    grid-column: 1/3;
}
.grid-item-2{
    max-width: 100%;
    
}
.grid-item-3{
    max-width: 100%;
    
}
.grid-item-4{
    max-width: 100%;
    
}
.grid-item-5{
    max-width: 100%;
    
}

.hero{
    position: relative;
    display: grid;  
    grid-template-columns: 1fr 1fr;   
}

.scene{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hero h1{ 
    text-align: center;
    position: absolute;
    display: block;
    background-color:#392B1B;
    z-index: 2;
    max-width: 40%;
    left: 35%;
    grid-column: 1/3;
    
}
.hero article { 
    position: relative;  
    background-color: #392B1B;
    grid-column: 1/3;
}

.hero h2{
    position: absolute;
    text-align: center;
    display: block;
    top: 90px;
    font-size: calc(10px + 1.5vw);
    float: left;
    z-index: 0;
    background-color: #392B1B;
    
}

.happy-cliant {
    position: absolute;
    top: 20px;
    right: 15px;
    width: 30%;
    height: auto;
    margin: 1rem;
    float: right;
    z-index: 1;
}

header{
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    border-bottom: 2px solid #414f90;
    padding-bottom: 2rem;
    max-width: 1300px;
    width: 100%;
    height: 200px;
    background-color:#2f4725; 
}

header img {
    
    margin: 0 0.25rem 0 1rem;
    width: 200px;
    height: auto;
    border: 10px solid #414f90;

}

nav{
    text-align: right;
}
.navigation{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    
}
.navigation a:hover {
    color: #ECE4B7;
    font-weight: 700;
    text-decoration: underline;
}
.navigation li{
    flex: 1;
    text-align: center;
}
.navigation a{
    display: block;
    color: #7FB069;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size:xx-large; 
    border-style: solid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none; 
}

h1,h2,h3 { 
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:30px;
    color:#ECE4B7;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color:#ECE4B7;
}
footer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-decoration: none;
    text-align: center; 
   
}

footer img {

    width: auto;
    height:60px;
    object-fit: cover; 
    padding-left: 10px;
    float: right; 
}




/*contact page css*/

.contact-initial {
    display: flex;
    

}
.box {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 4px solid #414f90;
    border-radius: .5rem ;
    text-align: center;
    background-color: #2f4725;
    grid-auto-flow: column;
}

.headquarters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 4px solid #414f90;
    border-radius: .5rem ;
    text-align: center;
}
.map{
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border-radius: .5rem;
    border: 4px solid #414f90;
    background-color: #2f4725;
    min-width: 50%;
}
.map iframe{
    display: inline-flex;
    
    margin: 20px;
    padding: 30px;
    border:4px solid #414f90;
    align-items: center;
    min-width: 60%;
    max-height: 100%;
    
    
    
}
.inner-box {
    display: grid;
    grid-template-columns: .2fr 1.5fr;
    text-align: center;
    align-items: center;
    margin: .1rem;
    padding: .2rem;
    background-color: #414f90;
    border-radius: .5rem;
}
.inner-box img{
    width: 25px;
    
    height: auto;
}

.location{
    flex: 1;
    margin: 20px;
    padding: 40px;
    border: 4px solid #414f90;
    border-radius: .5rem ;
    text-align: center;
    background-color: #2f4725;
}
.offices{
    
    
    margin: 20px;
    padding: 40px;
    border: 4px solid #414f90;
    border-radius: .5rem ;
    border-radius: .5rem;
}
.offices h1{
    margin-left: 50px;
}
.leaders{
    display: grid;
    grid-template-columns: 1fr;
}
.box4, .box5, .box6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#2f4725;
    text-align: center;
    align-items: center;
}

.boss1 {
    height: 300px;
    border-radius: .5rem;
    
    
}


.box7 label{
    margin: 20px;
    padding: 40px;
    font-size: 1.5rem;
    
    font-family: 'Titillium Web', sans-serif; 
    color: #ECE4B7;
}
.box7 fieldset{
    border: 4px solid #414f90;
    border-radius: .5rem;
}
textarea {
    width: 80%;
    height: 70px;
    padding: .5rem;
    font-size: 1rem;
    background-color: rgb(29, 28, 28);
    font-family: 'Titillium Web', sans-serif;
}

button:hover {
    font-weight: 800;
    color:#ECE4B7;
     
}
button {
    font-family: 'Titillium Web', sans-serif;
    color: #ECE4B7;
    width: 160px;
    margin: 1rem;
    border-radius: .5rem;
    text-align: center;
    font-size: 1.2rem;
    background-color:#414f90;
    border: none;
    
}
.hyperlink{
    font-family: 'Titillium Web', sans-serif;
    width: 160px;
    margin: 1rem;
    border-radius: .5rem;
    text-align: center;
    
    font-size: 1.5rem;
    background-color:#414f90;
    grid-column: 1/3;
      
}
.hyperlink ul{
    list-style-type: none; 
}
.hyperlink a{
    text-decoration: none;
    color: #ECE4B7;
}