main {
    max-width: 450px;
    height: 300px;
}

body {
    
    background-color: black;
}
nav {
    background-color: steelblue;
    padding: 0;
}

nav a {
    color: rgb(237, 234, 240);
    display: inline-block;
    padding: 20px;
    font-size: larger;  
}

h1 {
    color: steelblue;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px grey;
    float: left;
    margin-left: 20px;
    margin-right: 20px;   
}

aside{
    
    display: inline-block;
    width: 35rem;
    margin: .5rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: .5rem;
    background-color: aliceblue;
    color: white;
    text-align: center;
    
}
aside img{
    width: 300px;
    height: auto;
}
footer {
    margin-top: 5rem;
    border-color: rgb(237, 234, 240);
    border-top: 5rem;
    text-align: center;
}

p {
    font-size: 20px;
    padding: 0;
}
